aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.12
disnake==2.4.0
disnake-jishaku==2.6.5
ffmpeg-python==0.2.0
frozenlist==1.3.0
gTTS==2.2.4
import-expression==1.1.4
multidict==6.0.2
Pillow==9.0.1
psutil==5.9.0
typing_extensions==4.1.1
urllib3==1.26.9
youtube-search-python==1.6.5